.container {
    width: 99%;
    margin: 0 auto;
}

.contentflex {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: medium;
}